* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #eeeeee;
}

p {
  font-family: "Hind", sans-serif;
  color: #eeeeee;
}

body {
  background: #213A5C;
  min-height: 100vh;
}

header {
  height: 40vh;
  background-image: url(/ressources/images/vecteezy_blue-comic-speech-bubble-cloud-halftone-background_8099991_111/vecteezy_blue-comic-speech-bubble-cloud-halftone-background_8099991.jpg);
  background-color: rgba(33, 58, 92, 0.9);
  /**background: linear-gradient(180deg, rgba(33,58,92,0.21190483029149154) 0%, rgba(33,58,92,0.5368348022802871) 36%, rgba(33,58,92,1) 91%), url(/ressources/images/vecteezy_blue-comic-speech-bubble-cloud-halftone-background_8099991_111/vecteezy_blue-comic-speech-bubble-cloud-halftone-background_8099991.jpg);**/
  background-position: center center;
  background-blend-mode: multiply;
  text-align: center;
}
header h1 {
  margin-top: 12vh;
  font-size: 3.5em;
  font-weight: 800;
}

.navbar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f1a2b;
}
.navbar__button {
  font-family: "Hind", sans-serif;
  color: #eeeeee;
  font-weight: 700;
  font-size: 1.1em;
  border: 2px solid rgba(238, 238, 238, 0.3);
  padding: 0.5em 2em;
  margin-right: 20px;
  border-radius: 50px;
}
.navbar__button:hover {
  background-color: rgba(238, 238, 238, 0.3);
  transition: 0.3s;
}

main {
  width: 100%;
}
main .section_character_list {
  padding: 0 3rem;
}
main .section_character_list h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
}
main .section_character_list .container_character_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem;
  width: 1700px;
  height: 1900px;
  border-radius: 1rem;
  margin: 0 auto;
}
main .section_character_list .container_character_list .character_list_card {
  width: 400px;
  max-height: 550px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
main .section_character_list .container_character_list .character_list_card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
}
main .section_character_list .container_character_list .character_list_card figure {
  width: 100%;
}
main .section_character_list .container_character_list .character_list_card figure img {
  max-width: 100%;
  display: block;
}
main .section_character_list .container_character_list .character_list_card .card_text_content {
  padding: 1.5rem 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
main .section_character_list .container_character_list .character_list_card .card_text_content h3 {
  text-align: center;
}
main .section_character_list .container_character_list .character_list_card .card_text_content p {
  padding: 2rem 0;
}
main .section_character_list .container_character_list .character_list_card .card_text_content a {
  text-align: center;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  background: #4070B3;
  max-width: 200px;
  margin: 0 auto;
  color: #eeeeee;
  transition: all 0.2s ease-in-out;
  font-weight: 600;
  margin-top: 1rem;
}
main .section_character_list .container_character_list .character_list_card .card_text_content a:hover {
  color: #4070B3;
  background: #eeeeee;
}

footer {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f1a2b;
}

/*# sourceMappingURL=style.css.map */
