header{
    height: 40vh;
    background-image: url(/ressources/images/vecteezy_blue-comic-speech-bubble-cloud-halftone-background_8099991_111/vecteezy_blue-comic-speech-bubble-cloud-halftone-background_8099991.jpg);
    background-color: rgba($color: #213A5C, $alpha: 0.9);
    /**background: linear-gradient(180deg, rgba(33,58,92,0.21190483029149154) 0%, rgba(33,58,92,0.5368348022802871) 36%, rgba(33,58,92,1) 91%), url(/ressources/images/vecteezy_blue-comic-speech-bubble-cloud-halftone-background_8099991_111/vecteezy_blue-comic-speech-bubble-cloud-halftone-background_8099991.jpg);**/
    background-position: center center;
    background-blend-mode: multiply;
    text-align: center;

    h1{
        margin-top: 12vh;
        font-size: 3.5em;
        font-weight: 800;
    }
}