* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #eeeeee;
}

p {
  font-family: "Hind", sans-serif;
  color: #eeeeee;
}

body {
  background: #213A5C;
  min-height: 100vh;
}

header {
  height: 40vh;
  background-image: url(../ressources/images/header/header-img.jpg);
  background-color: rgba(33, 58, 92, 0.9);
  background-position: center center;
  background-blend-mode: multiply;
  text-align: center;
}
header h1 {
  margin-top: 12vh;
  font-size: 3.5em;
  font-weight: 800;
}

.navbar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f1a2b;
}
.navbar__button {
  font-family: "Hind", sans-serif;
  color: #eeeeee;
  font-weight: 700;
  font-size: 1.1em;
  border: 2px solid rgba(238, 238, 238, 0.3);
  padding: 0.5em 2em;
  margin-right: 20px;
  border-radius: 50px;
}
.navbar__button:hover {
  background-color: rgba(238, 238, 238, 0.3);
  transition: 0.3s;
}
.navbar img {
  height: 5vh;
}

#barre {
  border: none;
  border-bottom: 2px solid rgba(238, 238, 238, 0.3);
  background-color: #0f1a2b;
  color: white;
  outline: none;
  margin-right: 2rem;
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
#overlay .active {
  position: absolute;
  width: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #4070B3;
  border-radius: 10px;
  overflow: hidden;
  cursor: default;
}
#overlay .active figure img {
  width: 100%;
  height: 280px;
  display: block;
}
#overlay .active .container_card_text_overlay {
  padding: 1.5rem 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 190px auto;
  height: auto;
  background: #213A5C;
}
#overlay .active h3 {
  text-align: center;
  text-transform: uppercase;
}
#overlay .active .short-desc {
  padding: 3rem 0 0 0;
}
#overlay .active .description {
  padding: 2rem 0 2rem 0;
}
#overlay .active .card_btn_overlay {
  display: flex;
  justify-content: center;
}
#overlay .active .card_btn_overlay .btn-edit {
  border: none;
  background: #4070B3;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-right: 1rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
#overlay .active .card_btn_overlay .btn-edit::after {
  content: "EDIT";
}
#overlay .active .card_btn_overlay .btn-edit:hover {
  background: white;
  color: #4070B3;
}
#overlay .active .card_btn_overlay .btn-del {
  border: none;
  background: #b00101;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
#overlay .active .card_btn_overlay .btn-del::after {
  content: "DELETE";
}
#overlay .active .card_btn_overlay .btn-del:hover {
  background: white;
  color: #b00101;
}

main {
  width: 100%;
}
main .section_character_list {
  padding: 5rem 3rem 3rem 3rem;
}
main .section_character_list h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
}
main .section_character_list .container_character_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 8rem 5rem 2rem 5rem;
  width: 1700px;
  border-radius: 1rem;
  margin: 0 auto;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
main .section_character_list .container_character_list .character_list_card {
  width: 300px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  margin-bottom: 3rem;
}
main .section_character_list .container_character_list .character_list_card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
}
main .section_character_list .container_character_list .character_list_card figure img {
  width: 100%;
  height: 230px;
  display: block;
}
main .section_character_list .container_character_list .character_list_card .card_text_content {
  padding: 1.5rem 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 250px;
}
main .section_character_list .container_character_list .character_list_card .card_text_content h3 {
  text-align: center;
}
main .section_character_list .container_character_list .character_list_card .card_text_content p {
  padding: 2rem 0;
  align-self: center;
}
main .section_character_list .container_character_list .character_list_card .card_text_content a {
  text-align: center;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  background: #4070B3;
  max-width: 200px;
  margin: 0 auto;
  color: #eeeeee;
  transition: all 0.2s ease-in-out;
  font-weight: 600;
  margin-top: 1rem;
}
main .section_character_list .container_character_list .character_list_card .card_text_content a::after {
  content: "VIEW";
}
main .section_character_list .container_character_list .character_list_card .card_text_content a:hover {
  color: #4070B3;
  background: #eeeeee;
}

main {
  width: 100%;
}
main .section_create_character {
  padding: 5rem 3rem 3rem 3rem;
}
main .section_create_character h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
}
main .section_create_character .container_create_character {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  width: 1700px;
  border-radius: 1rem;
  margin: 0 auto;
}
main .section_create_character .container_create_character form {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding: 4rem 3rem 3rem 3rem;
  border-radius: 5px;
  width: 600px;
  background: #2b466f;
}
main .section_create_character .container_create_character form .container_upload_file {
  margin-bottom: 2rem;
}
main .section_create_character .container_create_character form .container_upload_file #file-input {
  display: none;
}
main .section_create_character .container_create_character form .container_upload_file #file-input + label {
  padding: 1rem;
  background: blue;
  border: 1px solid white;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
main .section_create_character .container_create_character form .container_upload_file #file-input + label:hover {
  background: white;
  color: blue;
  border: 1px solid blue;
}
main .section_create_character .container_create_character form .container_upload_file .container_btn_upload_img {
  color: white;
  font-family: "Hind", sans-serif;
}
main .section_create_character .container_create_character form .container_upload_file .container_btn_upload_img .btn_upload_text {
  font-weight: 600;
}
main .section_create_character .container_create_character form .input-create-text {
  height: 50px;
  background: none;
  border: none;
  border-bottom: 1px solid grey;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  outline: none;
  color: white;
  letter-spacing: 0.1rem;
}
main .section_create_character .container_create_character form textarea {
  background: none;
  border: 1px solid grey;
  outline: none;
  margin-top: 2rem;
  font-size: 1rem;
  color: white;
  padding: 1rem 1.5rem;
  margin-bottom: 3rem;
}
main .section_create_character .container_create_character form .btn-create-send {
  padding: 0.8rem 1.5rem;
  border: 2px solid white;
  background: green;
  margin: 0 auto;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
main .section_create_character .container_create_character form .btn-create-send:hover {
  background: rgb(232, 232, 232);
  color: green;
  border: 2px solid green;
}
main .section_create_character .container_create_character form label {
  color: white;
}

footer {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f1a2b;
}

.container_edit_character {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_edit_character .card_edit_character {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding: 4rem 3rem 3rem 3rem;
  border-radius: 5px;
  width: 600px;
  background: #2b466f;
}
.container_edit_character .card_edit_character figure {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 150px;
  width: 150px;
}
.container_edit_character .card_edit_character figure .img_edit_character {
  width: 100%;
  display: block;
}
.container_edit_character .card_edit_character #file-input-edit {
  display: none;
}
.container_edit_character .card_edit_character #file-input-edit + label {
  padding: 1rem;
  background: blue;
  border: 1px solid white;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  max-width: 180px;
}
.container_edit_character .card_edit_character #file-input-edit + label:hover {
  background: white;
  color: blue;
  border: 1px solid blue;
}
.container_edit_character .card_edit_character .container_chosen_file_edit {
  margin-top: 3rem;
}
.container_edit_character .card_edit_character .container_chosen_file_edit .container_btn_upload_img_edit {
  color: white;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
}
.container_edit_character .card_edit_character .card_text_content_edit {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
.container_edit_character .card_edit_character .card_text_content_edit .input_create_text_edit {
  height: 50px;
  background: none;
  border: none;
  border-bottom: 1px solid grey;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  outline: none;
  color: white;
  letter-spacing: 0.1rem;
}
.container_edit_character .card_edit_character .card_text_content_edit #description_edit {
  background: none;
  border: 1px solid grey;
  outline: none;
  margin-top: 2rem;
  font-size: 1rem;
  color: white;
  padding: 1rem 1.5rem;
  margin-bottom: 3rem;
}
.container_edit_character .card_edit_character .btn-save-edit {
  padding: 0.8rem 1.5rem;
  border: 2px solid white;
  background: green;
  margin: 0 auto;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.container_edit_character .card_edit_character .btn-save-edit:hover {
  background: rgb(232, 232, 232);
  color: green;
  border: 2px solid green;
}

.container_redirect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.container_redirect i {
  font-size: 7rem;
  color: greenyellow;
  margin-bottom: 2rem;
}
.container_redirect p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
